<%= link_to( prototype_path prototype.id ) do %> 
  <li class="collection-item avatar">
    <img src="/assets/typewriter-01.svg" alt="user_boy" class= "circle">
    <span class="title"> <%=prototype.name%> </span>
  </li>
<%end%>