<form accept-charset="UTF-8" action="<%= change_password_users_path %>" class="col s12"
            id="change_password" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="<%= form_authenticity_token %>" />
  <%= hidden_field_tag 'id', @user.id %>      
  <div class="modal-content">
    <div class="input-field ">
      <input id="old" name="old_password"
             type="password" />
      <label for="old">Contraseña actual</label>
    </div>
    <div class="input-field ">
      <input id="new"
             name="new_password" type="password" />
      <label for="new">Nueva contraseña</label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit" name="change_password">Listo
    </button>
    <a href="#!" data-turbolinks="false" class=" modal-action modal-close waves-effect waves-green btn-flat red lighten-2" >Cancelar</a> 
  </div>
</form>