<% provide(:title, 'Registrarse') %>

<% content_for :option do %>
  <li><%= link_to "Iniciar sesión", login_path, class:"indigo-text text-accent-4"%></li>
<% end %>

<div class="container">
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <h4 class="indigo-text text-accent-4">Registrarse</h4>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= render "shared/error_messages" %>
      <%= render "form" %>
    </div>
  </div>
</div>