console.log("Solicitando todos los cursos ESTA ES UNA PRUEBA");
<% @list.each do |msg| %>  
    //$("#member").append("<li><%= msg %></li>");
    $("#member").prepend("<%= j render msg %>");  
<% end %>

