<% content_for :bar_option do %>  
  <ul class="tabs">
    <li class="tab"><a class="active" href="#my_courses" style="outline: none;">my courses</a></li>
    <li class="tab"><a href="#member" style="outline: none;">member</a></li>
    <li class="tab"><a href="#all_courses" style="outline: none;">all courses</a></li>
  </ul>      
<% end %>

<div id="my_courses">
  <div class="grid-course">
    </div>
    <% if @my_courses.any? %>
      <%= render @my_courses %>
      <div class="fixed-action-btn">
        <a href="#modal1" class="btn-floating btn-large tooltipped indigo"
        data-position="left" data-delay="50" data-tooltip="New course">
          <i class="large material-icons">add_circle_outline</i>
        </a>
      </div>
    <%else%>
      <h4 class="center" style="color: #94b8b8; font-weight: bold;">You don't have any courses</h4>
      <div class="center">
        <a href="#modal1" style="outline: none; display: inline-flex; flex-direction: column;">
          <i class="material-icons circle center" style="color: #85adad; font-size: 56px;">add_circle_outline</i>
          <span style="color: #85adad; font-size: 28px;">New course</span>
        </a>
      </div>    
    <%end%>
  </div>
  <!-- Modal Structure - New course -->
  <div id="modal1" class="modal">
    <%= render "form" %>
  </div>
</div>
<div id="member">
  <h4 style="margin: 0;">Member</h4>
</div>
<div id="all_courses">
  <h4 style="margin: 0;">All courses</h4>
</div>