<%= form_for([@course, @post_new], remote: true) do |f| %>
  <div class="input-field ">
    <%= f.text_field :post_text %>
    <%= f.label :post_text, "Nuevo post" %>
  </div>
  <%= f.submit "Guardar", class: "btn" %>
<% end %>