<%if @course_user.any? and @post.user==current_user%>
  
  $('#post_<%=@post.id%> #post_body').empty();
  $('#post_<%=@post.id%> #post_body').html("<%= @post.post_text %>");
  $('#modal_edit_post_<%=@post.id%>').modal('close');
  var $toastContent = $('<span>Post editado</span>');
  Materialize.toast($toastContent, 3000);
<%else%>
  console.log("Error al actualizar post");
<%end%>