@import "materialize/components/color";

  // Colors
  // ==========================================================================

  $primary-color: color("indigo", "darken-1") !default;
  $primary-color-light: false !default;
  $primary-color-dark: false !default;
  @if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
  }
  @if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
  }
  $secondary-color: color("indigo", "lighten-1") !default;
  $success-color: color("green", "base") !default;
  $error-color: color("red", "base") !default;
  $link-color: color("indigo", "accent-4") !default;

  // Global
  // ==========================================================================
  // Media Query Ranges

  $small-screen-up: 768px !default;
  $medium-screen-up: 993px !default;
  $large-screen-up: 1201px !default;
  $small-screen: 767px !default;
  $medium-screen: 992px !default;
  $large-screen: 1200px !default;

  $medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
  $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
  $small-and-down: "only screen and (max-width : #{$small-screen})" !default;
  $medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
  $medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


@import "materialize";
@import "materialize/extras/nouislider";

  //Parallax
  //==========================================================
  .parallax-container {
    height: 250px;
    @media screen and (max-width: 992px) {
      height: 190px;
    }
    @media screen and (max-width: 767px) {
      height: 130px;
    }
  }
        

html, body {
  height: 100%;
}	

body {
  background-repeat: no-repeat;
	background: #f0f3f4;
	background: -webkit-linear-gradient(#eceff1, #eceff1, #ffffff) fixed no-repeat;
	background: -o-linear-gradient(#eceff1, #eceff1, #ffffff) fixed no-repeat;
	background: -moz-linear-gradient(#eceff1, #eceff1, #ffffff) fixed no-repeat;
  background: linear-gradient(#eceff1, #eceff1, #ffffff) fixed no-repeat;
}

.wrapper-main {
  height: calc(100% - 104px);

  @media screen and (min-width: 767px) {
    height: calc(100% - 112px);
  }
  @media screen and (min-width: 992px) {

  }
}

.wrapper-image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.wrapper-image-square {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

.user-img {
  width: 56px;
  padding: 5px;
  @media screen and (min-width: 767px) {
    width: 64px;
    padding: 10px;
  }
}


// Icon inside Form
// ================

.input__icon--color {
  color: #607d8b;
  &:focus {
    color: #5c6bc0;
  }
}

.z-depth--light {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.nav__content {
  width: 90%;
  margin: 0 auto;
}

.alert-danger {
  color: red;
}

// Menu dashboard
// ==============

.full-height {
  height: 100%;
}

.dashboard-container{
  height: calc(100% - 168px);
}

@media screen and (min-width: 768px){
  .dashboard-container {
    height: calc(100% - 112px);
  }
}

.nav-dashboard div.row {
  margin-bottom: 0;
}

.nav-dashboard ul {
  padding: 5.25px;
}

.nav-dashboard ul > div.row {
  height: 20%;
}

.nav-dashboard ul > div.double-row {
  height: 40%;
}

.nav-dashboard ul > div.row .col {
  padding: 5.25px;
}

.nav-dashboard ul div.row > div.col,
.nav-dashboard ul div.row div.col > li,
.nav-dashboard ul div.row div.col > li a,
{
  height: 100%;
}

// Color background
// ================

.color-panal {
  background-color: #9ed8d2!important;
}

.color-chat {
  //background-color: #a5d99e!important;
  background-color: #78c66c!important;
}

.color-product {
  //background-color: #b4c198!important;
  background-color:  #96a970!important;
}

.color-compromises {
  //background-color: #b3b7cf!important;
  background-color: #8289b0!important;
}

.color-task {
  //background-color: #94a2f0!important;
  background-color:  #6377e9!important;
}

.color-isa {
  //background-color: #b1b2b8!important;
  background-color: #94969e!important;
}

.color-evaluation {
  //background-color: #a7bfbd!important;
  background-color: #89a9a7!important;
}

.color-text-panal {
  color: #006699!important;
}

.color-text-course {
  color: #9ed8d2!important;
}

// Sidebar general
// ===============

.sidebar {
  position: fixed;
  top: 64px;
  width: 280px;
  height: 100%;
  background-color: white;
  padding-bottom: 64px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 997;
  & ~ main, & ~ div#parax, & ~ div.wrapper-submenu {
    margin-left: 280px;
  }
  @media screen and (max-width: 767px) {
    display: none;
    & ~ main, & ~ div#parax, & ~ div.wrapper-submenu {
      margin-left: 0px;
    }
  }
  @media screen and (min-width: 992px) {
    width: 300px;
    & ~ main, & ~ div#parax, & ~ div.wrapper-submenu {
      margin-left: 300px;
    }
  }
}

.hidden-sidebar {
  display: none;
  & ~ main, & ~ div#parax, & ~ div.wrapper-submenu {
    margin-left: 0;
  }
}

// Submenu
// =======

.wrapper-submenu {
  height: 48px;
  line-height: 48px;
  .submenu {
    width: 100%;
    height: 48px;
    z-index: 997;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

.wrapper-card {
  display: inline-block;
  position: relative;
  width: 50%;
  margin-right: -4px;
  padding-right: 10px;
  padding-bottom: 10px;
  .card-course {
    position: relative;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .wrapper-img {
      display: inline-block;
      position: relative;
      width: 50%;
      margin-right: -4px;
      padding-bottom: 50%;
      overflow: hidden;
      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .wrapper-content {
      display: inline-block;
      position: relative;
      width: 50%;
      margin-right: -4px;
      padding-top: 50%;
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px;
        top: 0;
      }
    }
  }
  @media screen and (max-width: 992px) {
    width: 50%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.grid-dashboard {
  nav {
    height: 100%;
    background-color: white;
  }
  nav ul {
    float: none;
    height: 100%;
  }
  nav ul div.row {
    height: 50%;
    margin-bottom: 0;
  }
  nav ul div.row div.col {
    height: 100%;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
  }
  nav ul li {
    float: none;
    height: 100%;
  }
  nav ul li a {
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    transition: box-shadow .3s;
    justify-content: center;
    flex-direction: column;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.card-vertical {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  border: 1px solid #E0E0E0;
  .card-vertical-content {
    width: 100%;
    wrapper-img {

    }
  }
  @media screen and (max-width: 992px) {
    width: 50%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.user-avatar {
  .wrapper-avatar {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

}

.notification {
  display: none;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: white;
  overflow: hidden;
  z-index: 999;
  p {
    float: left;
    line-height: 56px;
    color: black;
    margin: 0 0 0 20px;
  }
  .close {
    float: right;
    margin-right: 20px;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
  }
}

.show_notification {
  
}