<%= link_to( product_path product.id ) do %> 
  <li class="collection-item avatar">
    <img src="/assets/typewriter-01.svg" alt="user_boy" class= "circle">
    <span class="title"> <%=product.name%> </span>
  </li>
<%end%>