<div class="sidebar">
  djksjkch
</div>



<div style="display: none;" class="sidetoolbar" style="top: 56px;">
  <nav class="z-depth-0">
    <ul>
      <li>
        <a href="" class="color-panal">
          <i class="material-icons">dashboard</i>
          <span class="black-text">PANAL RAIS</span>
        </a>
      </li>
      <li>
        <a href="" class="color-chat">
          <i class="material-icons">art_track</i>
          <span class="black-text">COVERSATIONS</span>
        </a>
      </li>
      <li>
        <a href="" class="color-product">
          <i class="material-icons">devices_other</i>
          <span class="black-text">PRODUCTS</span>
        </a>
      </li>
      <li>
        <a href="" class="color-compromises">
          <i class="material-icons">update</i>
          <span class="black-text">COMPROMISES</span>
        </a>
      </li>
      <li>
        <a href="" class="color-task">
          <i class="material-icons">event</i>
          <span class="black-text">TASK</span>
        </a>
      </li>
      <li>
        <a href="" class="color-isa">
          <i class="material-icons">laptop_mac</i>
          <span class="black-text">ISA</span>
        </a>
      </li>
      <li>
        <a href="" class="color-evaluation">
          <i class="material-icons">verified_user</i>
          <span class="black-text">AUTO/CO-EVALUATION</span>
        </a>
      </li>
    </ul>
  </nav>
</div>